*{
  background-color: black;
  
}

.home{
  color: #7062d5;;
  font-family: sans-serif;
  
}

.input{
  background-color: #78bdda;
  border: none;
  color: white;
  padding: 5px 20px;
  width: 150px;
}